<div class="container text-left mt-5">
  <h1><strong>Experience</strong></h1>
  <div class="mb-3">
    <h4>MHP, Intern</h4>
    <hr class="my-2" style="border: 1px solid gray" />
    <p class="ps-5 mb-0">
      <strong>Data, Automation & Cloud department</strong>
    </p>
    <p class="ps-5 mt-0"><strong>Period:</strong> july 2023 - sep 2023</p>
    <div class="text-center mb-3">
      <i
        class="fas"
        [ngClass]="isParagraphVisible1 ? 'bi-chevron-up' : 'bi-chevron-down'"
        (click)="toggleParagraph1()"
        style="cursor: pointer"
      ></i>
    </div>

    <div *ngIf="isParagraphVisible1" class="ps-5">
      <p>
        I have worked with Power BI, Power Apps, Power Automate, MicrosoftSQL,
        Microsoft Azure, Tableau.
      </p>
      <p>
        I also worked on an exciting team project where we focused on collecting
        and analyzing data from different stocks. This project involved
        gathering historical stock prices, trading volumes, and other relevant
        financial indicators from various sources, which required us to
        implement data engineering practices to ensure the data was clean,
        structured, and ready for analysis. We developed automated pipelines for
        data collection, storage, and preprocessing, which significantly
        streamlined the workflow and allowed us to handle large datasets more
        efficiently. Once the data was prepared, we applied machine learning
        algorithms to make predictions about future stock trends.
      </p>
    </div>

    <h1><strong>Volunteering</strong></h1>
    <div class="mb-3">
      <h4>Untold Festival 2022 & 2023</h4>
      <hr class="my-2" style="border: 1px solid gray" />

      <div class="text-center mb-3">
        <i
          class="fas"
          [ngClass]="isParagraphVisible2 ? 'bi-chevron-up' : 'bi-chevron-down'"
          (click)="toggleParagraph2()"
          style="cursor: pointer"
        ></i>
      </div>

      <div *ngIf="isParagraphVisible2" class="ps-5">
        <p>
          During this voluntary experience, I significantly enhanced my teamwork
          and adaptability skills. Working closely with others in a dynamic
          environment taught me the importance of effective communication and
          collaboration to achieve common goals. I learned how to navigate
          different working styles and quickly adapt to changing situations.
          Additionally, I developed the ability to perform efficiently under
          pressure while maintaining focus and productivity.
        </p>
      </div>
    </div>

    <h1><strong>Education</strong></h1>

    <div class="mb-3 text-left">
      <h4 class="text-left">Master Degree</h4>
      <hr class="my-2" style="border: 1px solid gray" />

      <p class="ps-5 mb-0">
        <strong>Specialization:</strong> Software Engineering
      </p>
      <p class="ps-5 mt-0 mb-0">
        <i class="bi bi-geo-alt-fill me-2" style="color: rgb(86, 37, 166)"></i>
        <strong>Location:</strong>Babes-Bolyai University, Cluj-Napoca
      </p>
      <p class="ps-5 mt-0">
        <strong>Period:</strong> july 2024 - july 2026 (expected)
      </p>
    </div>

    <div class="mb-3 mt-5">
      <h4>Bachelor Degree</h4>
      <hr class="my-2" style="border: 1px solid gray" />
      <p class="ps-5 mb-0">
        <strong>Specialization:</strong> Mathematics and Computer Science
      </p>
      <p class="ps-5 mt-0 mb-0">
        <i class="bi bi-geo-alt-fill me-2" style="color: rgb(86, 37, 166)"></i>
        <strong>Location:</strong>Babes-Bolyai University, Cluj-Napoca
      </p>
      <p class="ps-5 mt-0"><strong>Period:</strong> july 2021 - july 2024</p>
    </div>

    <div class="text-center mb-3">
      <i
        class="fas"
        [ngClass]="isParagraphVisible3 ? 'bi-chevron-up' : 'bi-chevron-down'"
        (click)="toggleParagraph3()"
        style="cursor: pointer"
      ></i>
    </div>

    <div *ngIf="isParagraphVisible3" class="ps-5">
      <p>
        During my time at university, one of the key areas I explored was
        <strong>Object-Oriented Programming (OOP) </strong>, where I learned to
        structure code in a way that promotes reusability, scalability, and
        efficiency through principles like encapsulation, abstraction,
        inheritance, and polymorphism. Alongside OOP, I studied
        <strong>data structures</strong>
        and algorithms, which provided me with insights into efficient ways to
        organize, process, and manipulate data.
      </p>
      <p>
        Furthermore, I gained valuable experience in
        <strong>team-based projects</strong>, where I learned to collaborate
        effectively with others, share responsibilities, and work towards common
        goals. I also explored <strong>artificial intelligence </strong>,
        learning about machine learning algorithms and their applications.
      </p>
      <p>
        In addition to these programming concepts, I delved into
        <strong> mathematical subjects </strong> like mathematical statistics
        and analysis, which helped me develop analytical thinking and
        problem-solving skills.
      </p>
    </div>

    <div class="mb-3">
      <h4>High School</h4>
      <hr class="my-2" style="border: 1px solid gray" />
      <p class="ps-5 mb-0"><strong>Specialization:</strong> Natural Sciences</p>
      <p class="ps-5 mt-0 mb-0">
        <i class="bi bi-geo-alt-fill me-2" style="color: rgb(86, 37, 166)"></i>
        <strong>Location:</strong> National College "Octavian Goga", Sibiu
      </p>
      <p class="ps-5 mt-0"><strong>Period:</strong> 2017 - 2021</p>
    </div>
  </div>
</div>
