.flashcard-container {
  position: relative;
  width: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7a66a0;
  transition: transform 0.5s ease;
  opacity: 0.3;
  z-index: 0;
}

.active {
  opacity: 1;
  background-color: #ece6e6cd;
  z-index: 3;
  transform: scale(1.1);
}

.previous {
  opacity: 0.2;
  z-index: 2;
  transform: translateX(-70%) rotateY(30deg);
}

.next {
  opacity: 0.2;
  z-index: 2;
  transform: translateX(70%) rotateY(-30deg);
}

.circle-item {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 1rem;
}
