<div class="container text-left mt-5">
  <h1><strong>Github account:</strong> https://github.com/radusabina</h1>
  <br />
  <br />
  <div class="mb-3">
    <h4>Hotel finder</h4>
    <hr class="my-2" style="border: 1px solid gray" />
    <p class="ps-5 mb-0">
      I developed a web application using Java that enables users to manage
      hotel reservations efficiently. The application allows users to specify a
      range in kilometers to search for hotels, and it displays a list of hotels
      within that specified distance. Additionally, users can make new
      reservations, update existing ones, or cancel them as needed. The
      application uses Java servlets to handle requests and responses.
    </p>

    <div class="mb-3 mt-3">
      <h4>Scooby-Doo game</h4>
      <hr class="my-2" style="border: 1px solid gray" />
      <p class="ps-5 mb-0">
        The game revolves around a fun and captivating storyline where players
        take on the role of young detectives tasked with solving a mystery. As
        they progress through different levels, children encounter various
        characters and clues that guide them in uncovering the truth. Each clue
        is linked to a mathematical operation, primarily focusing on addition
        and subtraction, ensuring that players practice their math skills in a
        fun context.
      </p>
    </div>

    <div class="mb-3 mt-3">
      <h4>Cinema</h4>
      <hr class="my-2" style="border: 1px solid gray" />
      <p class="ps-5 mb-0">
        I developed a comprehensive cinema management application using Python,
        designed to facilitate various operations related to movies,
        reservations, and users. This application provides a robust interface
        for managing cinema-related activities while ensuring a user-friendly
        experience. The application supports filtering operations based on
        different criteria such as genre, release year, or rating. Users can
        also sort movies by various parameters like title, release date, or
        rating, allowing for easier navigation.
      </p>
    </div>

    <div class="mb-3 mt-3">
      <h4>Social Network</h4>
      <hr class="my-2" style="border: 1px solid gray" />
      <p class="ps-5 mb-0">
        I developed a social networking application using C++ that allows users
        to create accounts, make friends, and send messages. Users can register,
        customize their profiles, and send friend requests to connect with
        others. The messaging feature enables real-time communication through
        direct messages and group chats, while notifications keep users updated
        on friend requests and new messages.
      </p>
    </div>
  </div>
</div>
