<div class="container mt-5">
  <div class="mt-4">
    <h3><strong>Hard Skills</strong></h3>
    <hr class="my-2" style="border: 1px solid gray" />

    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>Java</li>
          <li>C++</li>
          <li>Python</li>
          <li>SQL Database Management</li>
          <li>Spring Boot framework</li>
          <li>Angular</li>
          <li>Assembly language</li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul>
          <li>React</li>
          <li>Typescript</li>
          <li>Javascript</li>
          <li>Object Oriented Programming</li>
          <li>Data Structures</li>
          <li>HTML / CSS</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3><strong>Soft Skills</strong></h3>
    <hr class="my-2" style="border: 1px solid gray" />

    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>Teamwork</li>
          <li>Logical thinking</li>
          <li>Adaptability</li>
          <li>Good communication skills</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3><strong>Foreign Languages</strong></h3>
    <hr class="my-2" style="border: 1px solid gray" />

    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>English -> C1</li>
        </ul>
      </div>
    </div>
  </div>
</div>
