<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-3 bg-purple text-white p-4" style="min-height: 100vh">
      <div class="text-center mb-4">
        <img
          src="https://i.postimg.cc/C5sZDFMS/temp-Imagejd-GEJh.avif"
          alt="photo"
          class="rounded-circle"
          style="width: 60%; height: 60%"
        />
      </div>
      <div class="nav flex-column">
        <a
          class="nav-link text-white ps-5"
          [class.active]="selectedSection === 'about'"
          (click)="showSection('about')"
          >About me</a
        >
        <hr
          class="w-75 mx-auto my-2"
          style="border: 1px solid rgb(41, 5, 99)"
        />
        <a
          class="nav-link text-white ps-5"
          [class.active]="selectedSection === 'education'"
          (click)="showSection('education')"
          >Experience and education</a
        >
        <hr
          class="w-75 mx-auto my-2"
          style="border: 1px solid rgb(41, 5, 99)"
        />
        <a
          class="nav-link text-white ps-5"
          [class.active]="selectedSection === 'projects'"
          (click)="showSection('projects')"
          >My projects</a
        >
        <hr
          class="w-75 mx-auto my-2"
          style="border: 1px solid rgb(41, 5, 99)"
        />
        <a
          class="nav-link text-white ps-5"
          [class.active]="selectedSection === 'skills'"
          (click)="showSection('skills')"
          >Skills</a
        >
      </div>
    </div>
    <div
      class="col-md-9"
      style="background-color: #ece6e6cd; min-height: 100vh"
    >
      <ng-container [ngSwitch]="selectedSection">
        <app-about *ngSwitchCase="'about'"></app-about>

        <app-education *ngSwitchCase="'education'"></app-education>
        <app-projects *ngSwitchCase="'projects'"></app-projects>
        <app-skills *ngSwitchCase="'skills'"></app-skills>
      </ng-container>
    </div>
  </div>
</div>
